alembic
av>=14.2.0
blake3
color-matcher
comfy-aimdo>=0.2.12
comfy-kitchen>=0.2.8
einops
filelock>=3.16.0
ftfy
gguf>=0.17.1
glfw
huggingface_hub
imageio-ffmpeg
kornia
kornia_rs>=0.1.10
lark
matplotlib
numpy
onnx
onnxruntime-gpu
opencv-python
pillow>=10.3.0
protobuf
pydantic>=2.11.10
pydantic-settings>=2.10.1
pyloudnorm
PyOpenGL
requests
safetensors
PyNaCl
scipy
sentencepiece>=0.2.0
simpleeval>=1.0.0
sqlalchemy>=2.0
torchsde
transformers>=4.50.3
