accelerate>=1.2.1
alembic
blake3
color-matcher
comfy-aimdo>=0.2.12
comfy-kitchen>=0.2.8
diffusers>=0.33.0
einops
filelock>=3.16.0
ftfy
gguf>=0.17.1
huggingface_hub
imageio-ffmpeg
kornia_rs>=0.1.10
lark
matplotlib
numpy
onnx
onnxruntime-gpu
opencv-python
peft>=0.17.0
pillow>=10.3.0
protobuf
pyloudnorm
requests
safetensors
PyNaCl
scipy
sentencepiece>=0.2.0
sqlalchemy>=2.0
spandrel
clip_interrogator>=0.6.0
